version: '3'

vars:
  HASH: { sh: git rev-parse --short HEAD }
  BRANCH: { sh: git rev-parse --abbrev-ref HEAD }
  SERVICE_NAME: service
  BINARY_PATH: ./bin/{{`{{.SERVICE_NAME}}`}}
  SEARCH_PROTOFILES: { sh: find ./api/protobuf-spec -type f -name "*.proto" -printf "%f " }
  ROOT_PATH: { sh: pwd }

tasks:

  generate:
    env:
      SWAGGER_GENERATE_EXTENSION: "false"
    cmds:
      - docker run --rm -v {{`{{.ROOT_PATH}}`}}:/proto znly/protoc --go_out=plugins=grpc:/proto/pkg/transport/grpc --swagger_out=logtostderr=true:/proto/api/swagger-spec -I=/proto/api/protobuf-spec {{`{{.SEARCH_PROTOFILES}}`}}

  analysis:
    dir: ./
    cmds:
      - golangci-lint run -v --new-from-rev `git merge-base master {{`{{.BRANCH}}`}}` ./...

  build:
    deps: [generate]
    cmds:
      - CGO_ENABLED=0 go build -ldflags "-X main.Version={{`{{.HASH}}`}} -X main.Hash={{`{{.HASH}}`}}" -a -o {{`{{.BINARY_PATH}}`}} .
