version: '3'

vars:
  SERVICE_NAME: {{ .Name}}
  BINARY_PATH: ./bin/{{`{{.SERVICE_NAME}}`}}

tasks:

  generate:
    cmds:
      - buf generate ./api/protobuf-spec/
  analysis:
    dir: ./
    cmds:
      - golangci-lint run -v ./...

  build:
    deps: [generate]
    cmds:
      - CGO_ENABLED=0 go build -a -o {{`{{.BINARY_PATH}}`}} .
